<div class="ui two column centered grid">
	<div class="column">
		<h1>This is Ater!</h1>
		<p>A layer-based online text editor</p>
		
		<a href="https://github.com/Kamigami55/Ater" target="_blank">
			<button class="ui circular icon button" data-content="View on Github">
				<i class="big github icon"></i>
			</button>
		</a>
	</div>
</div>

<script>
	$('.button').popup();
</script>