<div class="ui container">
	<h1><%= @document.title %></h1>
	<p><%= @document.content.html_safe %></p>

	<%= link_to edit_document_path(@document) do %>
		<button class="ui button">
			<i class="edit icon"></i>編輯文件
		</button>
	<% end %>
	<%= link_to documents_path do %>
		<button class="ui button">
			返回
		</button>
	<% end %>
</div>
