<div class="ui top fixed inverted menu">
  <a class="item">Ater</a>
  <a class="item">編輯器</a>
  <a class="item">教學</a>
  <a class="item">關於Ater</a>
  <div class="right menu">
    <a class="item"><i class="user icon"></i>登入</a>
    <a class="item">註冊</a>
  </div>
</div>